@use '../../variables.scss' as var;

.profilecard {
    text-align: center;
}

.card {
    border: none;
    border-radius: var.$border-radius-card;
    width: 100%;
}

.card-img-top {
    object-fit: cover;
    object-position: center;
    box-sizing: border-box;
    border-top-left-radius: var.$border-radius-card;
    border-top-right-radius: var.$border-radius-card;
}

.card-img-user {
    left: calc(calc(330px / 2) - calc(82.5px / 2));
    top: calc(132px - calc(82.5px / 2));
}

.card-body {
    height: 13rem;
    flex-direction: column;
    justify-content: flex-end;
}

.card-stats {
    height: 8rem;
}