@use './variables.scss' as var;
@import-normalize;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  background-color: var.$color-base;
  font-family: var.$font-family-base;
}

.root {
  height: inherit;
  display: flex;
  align-items: center; 
}

.pattern-top {
  width: var.$pattern-size;
  top: -(var.$pattern-size / 2);
  left: -(var.$pattern-size / 2);
}

.pattern-bottom {
  width: var.$pattern-size;
  bottom: -(var.$pattern-size / 2);
  right: -(var.$pattern-size / 2);
}